@import url("./root.css");
@import url("./style.css");
.promotions-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 20px;
  padding: 20px;
  height: auto;
  overflow: visible;
  position: relative;
}

.promotion_card {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  width: auto;
  height: auto;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  cursor: pointer;
  text-align: center;
  opacity: 0;
  transform: translateX(0);
  transition: all 0.6s ease-in-out;
  position: absolute;
  left: 81%;
  margin-left: -150px;
  font-weight: 400; 
  font-style: normal;
  background-color: var(--mostarda);
  font-family: var(--font-anton);
  flex-wrap: wrap;
} 
  
.promotion_card h3 {
  margin: 2px;
  font-size: 19px;

  padding: 0 auto;
}

.promotion_card p {
  margin: 5px;
  font-size: 15px;
}

.promotion_card.active {
  opacity: 1;
  transform: translateX(0);
  position: relative;
  left: 35em;
  margin-left: 0;
}

.promotion_card.exit {
  opacity: 0;
  transform: translateX(-5000%);
}

h1{
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;   
}

.promotions-title{
  margin-top: 45px;
}